<div id="menu-top">
  <div id="logo-airesis">
    <%= link_to image_tag('img/logo.png', :align => "left", :alt => 'Airesis - Democrazia Diretta'), root_path %>
  </div>
  <div class="sep1"></div>
  <div id="menu-group">
    <h1 class="tit">
      <% if @group %>
          <%= @group.group_image_tag 40 %>

      <% else %>
          <%= image_tag 'logo120.png', :width => 40, :alt => APP_LONG_NAME %>
      <% end %>
      <% if @group %>
          <% if @group.id %>
              <%= @group.name %>
          <% else %>
              <%= t('pages.groups.index.groups_registration') %>
          <% end %>
      <% else %>
          <%= t('pages.groups.index.groups_list_2') %>
      <% end %>
    </h1>

    <div id="submenu">
      <a href="/">LE PROPOSTE</a> -
      <a href="/">CALENDARIO</a> -
      <a href="/">ELEZIONI</a> -
      <a href="/">DOCUMENTI</a>
    </div>
  </div>
  <div id="logo-but">
    <span>GRUPPI</span>
    <br>
    <img src="/assets/img/cur-tria.png">
  </div>

  <div id="tolr">
    <div id="inlog">
      <span>ACCEDI</span>
      <span>-</span>
      <span>REGISTRATI</span>
    </div>
    <img id="curinfo" src="/assets/img/cur-info.png" rel="page/info.html">
    <!--
            <span class="notify mess">4</span>
            <img id="mess" src="/assets/img/mess.png" rel="page/mess.html">
            <span class="notify world">2</span>
            <img id="notify" src="/assets/img/world.png" rel="page/notify.html">
            <img id="curbox" target="0" src="/assets/img/cur-box.png">
    -->
  </div>

  <div class="group-cont">
    <div class="tria"></div>
    <div class="group-cont-sep"></div>
    <div class="group-tag">
      <div class="tag sel"><span>Gruppi a cui partecipi</span><div class="tria"></div>
      </div>
      <div class="tag">Cerca Gruppi</div>
      <div class="tag">Apri un nuovo gruppo</div>
    </div>
    <div class="group-tag1">
      <div class="group-item">
        <img src="/assets/img/logo/01.png">
        <span class="p1">Nome Del primo Gruppo</span>
        <div class="p2"><a href="/">PROPOSTE</a> - <a href="/">EVENTI</a></div>
      </div>
      <div class="group-item">
        <img src="/assets/img/logo/02.png">
        <span class="p1">Nome Di Questaltro Gruppo</span>
        <div class="p2"><a href="/">PROPOSTE</a> - <a href="/">EVENTI</a></div>
      </div>
    </div>
  </div>

</div>



<div id="menu-right" class="slim">
  <div class="cont">

    <img id="avatar" src="/assets/img/avatar.png">

    <div id="account"></div>

    <div id="suggest"><?php include 'suggest.php' ?></div>

    <div id="mybox">
      <div class="box">
        <div class="logo" box="box1" style="background:#fff url(img/icon/01.png) center; background-size:cover;">
          <button class="notify">3</button>
        </div>
      </div>
      <div class="box">
        <div class="logo" box="box2" style="background:#fff url(img/icon/02.png) center; background-size:cover;">
          <button class="notify">15</button>
          <div class="tria"></div>
        </div>
      </div>
      <div class="box">
        <div class="logo" box="box3" style="background:#fff url(img/icon/03.png) center; background-size:cover;">
          <button class="notify">1</button>
        </div>
      </div>
      <div class="box">
        <div class="logo" box="box4" style="background:#fff url(img/icon/04.png) center; background-size:cover;">
          <button class="notify">6</button>
        </div>
      </div>
      <div class="box">
        <div class="logo" box="box5" style="background:#fff url(img/icon/05.png) center; background-size:cover;">
          <button class="notify">22</button>
        </div>
      </div>
      <div class="box">
        <div class="logo" box="box6" style="background:#fff url(img/icon/06.png) center; background-size:cover;">
          <button class="notify">15</button>
        </div>
      </div>
    </div>
  </div>
</div>










